body
{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #E3F2FD;
}


.navigation{

    background-color:#0D47A1;
    font:18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
h1
{
    padding-top:23px;
    text-justify: distribute;
    height:50px;
    text-align:center;
    border-top:2px solid steelblue;
    border-bottom :2px solid steelblue;
    background-color:#BBDEFB;
    font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
}